.container{
    max-width:1300px;
}

.card{
    border-radius:12px;
}

.card-header{
    font-weight:bold;
}

.card:hover{
    transform:translateY(-5px);
    transition:.3s;
}

canvas{
    max-height:400px;
}